<form [formGroup]="form">
  <h1 mat-dialog-title>Create New Formula One Team</h1>
  <div mat-dialog-content>
    <p>What's the name of the team?</p>
    <mat-form-field>
      <input matInput formControlName="name" id="name" type="text">
      <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
    </mat-form-field>
    <p>What's the date fo the foundation?</p>
    <mat-form-field>
      <input matInput formControlName="foundation" id="foundation" type="number">
      <mat-error *ngIf="hasError('foundation', 'required')">Foundation is required</mat-error>
      <mat-error *ngIf="hasError('foundation', 'min')">Foundation year cannot be lower than the first Formula-1 race
      </mat-error>
      <mat-error *ngIf="hasError('foundation', 'max')">foundation year cannot be bigger than the current date
      </mat-error>
    </mat-form-field>
    <p>How much victories has the team currently?</p>
    <mat-form-field>
      <input matInput formControlName="victories" id="victories" type="number">
      <mat-error *ngIf="hasError('victories', 'required')">Victory number is required</mat-error>
      <mat-error *ngIf="hasError('victories', 'min')">Victory number cannot be negative</mat-error>
    </mat-form-field>
    <p>Has they paid the affiliation fee?</p>
    <mat-checkbox formControlName="subscribed" id="subscribed">Subscribed</mat-checkbox>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
    <button mat-stroked-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="sendResult()">Submit
    </button>
  </div>
</form>
