<nav class="nav">
  <ul class="list-group">
    <li class="list-group-item" *ngIf="!authentication">
      <a matRipple class="nav-link" routerLink="/login" (click)="toggleMenu()">Login</a>
    </li>
    <li class="list-group-item">
      <a matRipple class="nav-link" routerLink="/teams" (click)="toggleMenu()">Formula-One teams</a>
    </li>
    <li class="list-group-item" *ngIf="authentication">
      <a matRipple class="nav-link" routerLink="/logout" (click)="toggleMenu()">Logout</a>
    </li>
  </ul>
</nav>
