.text-white {
  color: white;
}

h1 {
  @extend .pad-head;
  margin: 0 0 0 0;
}

nav {
  margin: 0;
  display: flex;
}

.space {
  justify-content: space-between;
}

mat-icon {
  @extend .pad-head;
  @extend .vertical-center;
  font-size: 1.5em;
}

.pad-head {
  padding: 10px;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  position: fixed;
}
