<div>
  <nav class="space red-head-backg">
    <a matRipple (click)="sidenav.toggle()">
      <mat-icon class="text-white">menu</mat-icon>
    </a>
    <h1 class="text-white">{{title}}</h1>
  </nav>

  <mat-drawer-container class="mat-app-background red-backg" autosize>
    <mat-drawer id="sidenav" #sidenav mode="side" fullscreen>
      <app-left-panel [title]="title" [sidenav]="sidenav"></app-left-panel>
    </mat-drawer>

    <div class="mat-body">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
