<div class="mat-card-margin">
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Formula-One Teams</mat-card-title>
      </mat-card-header>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="foundation">
            <th mat-header-cell *matHeaderCellDef> Foundation</th>
            <td mat-cell *matCellDef="let element"> {{element.foundation}} </td>
          </ng-container>

          <ng-container matColumnDef="victories">
            <th mat-header-cell *matHeaderCellDef> Victories</th>
            <td mat-cell *matCellDef="let element"> {{element.victories}} </td>
          </ng-container>

          <ng-container matColumnDef="subscribed">
            <th mat-header-cell *matHeaderCellDef> Subscribed</th>
            <td mat-cell *matCellDef="let element"> {{element.subscribed}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="authentication; else loggedOut">
                <button mat-flat-button color="primary" type="button" (click)="openEditDialog(element)">Edit</button>
                <button mat-flat-button color="warn" type="button" (click)="delete(element.id)">Del</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-toolbar>
          <mat-toolbar-row style="justify-content: space-between;">
            <button *ngIf="authentication" mat-fab type="button" (click)="openCreateDialog()">+</button>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>
        <p *ngIf="isError" class="error error-center">
          {{ error }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <ng-template #loggedOut>
    <p>Login to use the actions!</p>
  </ng-template>
</div>
